## Visual Studio / .NET
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Bb]in/
*.log
*.tlog

## NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets

## MAUI / Android
AppPackages/
*.appx
*.appxbundle
*.apk
*.aab

## User prefs
*.env
node_modules/
/Zips
